html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Bevan", serif;
  border-style: solid;
  margin: .5em;
  padding: .6em .5em .75em;
  background-color: #79756f;
  border-top-color: #595652;
  border-bottom-color: #595652;
  border-left-color: #79756f;
  border-right-color: #79756f;
  display: inline-block;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: "Bevan", sans-serif;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  font-family: "Bevan", serif;
  text-align: center;
}

nav a {
  font-weight: lighter;
  display: inline-block;
  width: 8em;
  padding: .6em .5em .75em;
  margin: .3em;
  background-color: #713837;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}

a:hover {
  background-color: #f33;
}
